@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3a405a;
  color: #e9afa3;
  font-family: "Roboto", Arial;
  padding: 15px;
  letter-spacing: 1.2px;
  margin-top: 2.5rem;
}

a {
  color: #99b2dd;
  text-decoration: none;
}

a:hover {
  color: #f9dec9;
  transform: scale(1.1);
}

img {
  border-radius: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

header h1 {
  text-align: center;
  padding-bottom: 1rem;
  border-left: 2px solid #f9dec9;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav a {
  margin-right: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f9dec9;
  border-bottom: 2px solid #f9dec9;
  border-right: 2px solid #f9dec9;
  padding-right: 10px;
  padding-left: 5px;
}

p {
  line-height: 1.3rem;
}

code {
  background-color: #3a405a;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}

table {
  color: #f9dec9;
  border-collapse: collapse;
  background-color: #685044;
  margin: 15px;
}

thead {
  background-color: #e9afa3;
  color: #685044;
  text-align: center;
}

td {
  padding: 5px;
  font-size: 0.9rem;
}

#links ul li {
  list-style-type: "🔥";
  margin-bottom: 5px;
}

#quicklinks a {
  display: block;
  margin-bottom: 3px;
}

#quicklinks a:before {
  content: "💩";
  margin-right: 3px;
}
