@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3a405a;
  color: #e9afa3;
  font-family: "Roboto", Arial;
  padding: 15px;
  letter-spacing: 1.2px;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
}

a {
  color: #99b2dd;
  text-decoration: none;
}

a:hover {
  color: #f9dec9;
}

img {
  border-radius: 20px;
  width: 200px;
}
/* ! Fix header spacing + fix nav spacing */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #685044;
  border-bottom: 2px solid #f9dec9;
}

header h1 {
  text-align: center;
  padding-bottom: 21px;
  border-right: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 21px;
}

nav a {
  margin-right: 2rem;
  background-color: #f9dec9;
  padding: 7px;
  border-radius: 25px;
  color: #685044;
  font-weight: 600;
  border: 2px solid transparent;
}

nav a:hover {
  color: #f9dec9;
  background-color: #685044;
  border: 2px solid #f9dec9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f9dec9;
  border-bottom: 2px solid #f9dec9;
  border-right: 2px solid #f9dec9;
  padding-right: 10px;
  padding-left: 5px;
}

p {
  line-height: 1.3rem;
}

code {
  background-color: #3c3c3c;
  padding: 3px;
  margin: 2px;
  border-radius: 3px;
}

table {
  color: #f9dec9;
  border-collapse: collapse;
  background-color: #685044;
  margin: 15px;
  margin-right: 0;
}

table,
tr,
td,
thead {
  border: 1px solid black;
}

table tr:nth-child(2n + 2) {
  background-color: #866455;
}

thead {
  background-color: #e9afa3;
  color: #685044;
  text-align: center;
}

td {
  padding: 8px;
  font-size: 0.9rem;
  line-height: 2rem;
}

td:first-child {
  width: 300px;
}

.links > ul > li {
  list-style-type: "🔥";
  margin-bottom: 3px;
}

.quicklinks a {
  display: block;
  margin-bottom: 8px;
}

.quicklinks a:before {
  content: "↘️";
  margin-right: 3px;
}

.quicklinks a:hover:before {
  content: "↘️";
}

.cheatsheet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  width: 250px;
  text-align: center;
  font-size: 0.8rem;
}

section {
  scroll-margin-top: 160px;
}

.quicklinks {
  margin-top: 170px;
}
