@import "@fontsource/lato";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme="skeleton"] {
  --theme-font-family-base: "Lato", Arial, -systemui;
  --theme-font-family-heading: "Lato", Arial, -systemui;
}

html,
body {
  @apply h-full overflow-hidden;
}
